/*sorry, lehet nem ide kellett volna, rakjatok at ha gaz*/
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
}
h3{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}
h4{ /*link*/
    font-size: 12px;
    font-family: 'Victor Mono', Consolas, serif;
    color: #575757;

}
/*div{
    border: dashed 2px red;
}*/
/*img{
    width: 7rem;
    height: 7rem;
}*/
